<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <title>editor</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- editor.md -->
    <link rel="stylesheet" href="/editor/css/style.css" />
    <link rel="stylesheet" href="/editor/css/editormd.css" />
    

    <style type="text/css" media="screen">
        .container {
            width: 92%;
            margin-top: 10px;
            margin-bottom: 20px;
            /*background: #d377d4;*/
        }

        #choseTypeTitle {
            float: left;
            margin-top: 5px;
            margin-left: 50px;
            display: block;
            color: #00BFFF;
        }
    </style>
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">我的文章</a>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/home"><span class="glyphicon glyphicon-home"></span> 返回首页</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <h3 id="choseTypeTitle">{{.content.title}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <span class="label label-default">{{.content.classify}}</span>
            </h3>
        </div>

        <div id="test-editormd"></div>
    </div>

    <script src="/editor/js/jquery.min.js"></script>
    <script src="/editor/js/editormd.min.js"></script>
    <script type="text/javascript">
        var testEditor;
        $(function () {
            var article = {{.content}};
            var content = article.content;
            testEditor = editormd("test-editormd", {
                width: "90%",
                height: 740,
                previewTheme : "default",
                markdown : content,
                codeFold : true,
                preview:true,
                searchReplace : true,
                toolbar  : true,             //关闭工具栏
                theme: (localStorage.theme) ? localStorage.theme : "default",
                path: '/editor/lib/',
                toolbarIcons : function() {
                    return ["preview"]
                },
                onload:function () {
                    var test = $("i[name='preview']");
                    $(test).parent().click();
                }
            });
        });
    </script>
</body>

</html>